PORT=4000
CLIENT_URL=https://marthington-quest.vercel.app
MONGODB_URI=
ADMIN_TOKEN=
ADMIN_EMAILS=washingtonamedu@gmail.com
ENTRY_FEE_NAIRA=500
VOTE_FEE_NAIRA=100
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_SECRET_HASH=
FLW_SUBACCOUNT_ID=
FLW_SUBACCOUNT_CHARGE=0
